/nbproject/private/
/node_modules/
/lib/cache/[[]trash/
/[[]document/
/[[]test/
/[[]documents/
/api/lib/cache/[[]trash/
/cache/[[]trash/
/api/feed-crawler/test/
/modules/xmlTransformers/xUB/[[]trash/
/mount/*
