
<form class="ui form segment">
  
  <div class="field">
    <label>
      Mode
    </label>
    <div class="ui fluid buttons">
      <button class="ui button"
              type="button"
              v-bind:class="{positive: (mode === 'feed')}"
              v-on:click="mode = 'feed'">
        Feed XML
      </button>
      <button class="ui button"
          type="button"
          v-bind:class="{positive: (mode === 'url')}"
          v-on:click="mode = 'url'">
        URL
      </button>
    </div>
  </div>
 
  <!-- ================================== -->
  
  <demo-dropdown-feed
    ref="DemoDropdownFeed"
    v-show="mode === 'feed'"></demo-dropdown-feed>
  
  <demo-dropdown-url 
    v-show="mode === 'url'"></demo-dropdown-url>
  
  <!-- ================================== -->
  
  <div class="field" 
       v-if="mode === 'feed'">
    <label for="feedXML">
      Feed XML
    </label>
    <textarea id="feedXML"
              v-model="feedXML"
              placeholder='<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"...'></textarea>
  </div>
  
  <div class="field" 
       v-if="mode === 'url'">
    <label for="query">
      URL
    </label>
    <input type="url" 
           id="query"
           v-model="query"
           placeholder="https://..." />
  </div>
  
  <div class="field">
    <label for="modules">Modules</label>
    <input type="text" v-model="modules" id="modules" />
  </div>
  
  <div class="field">
    
    <div class="ui checkbox">
      <input type="checkbox" v-model="autoPreview" id="autoPreview" />
      <label for="autoPreview">Auto Preview</label>
    </div>
  </div>
  
  
  
  <hr />
  
  <div class="field">
    <label for="output">
      Output
    </label>
    
    <template v-if='mode === "url"'>
      <textarea v-model="output"
                v-if="output !== ''"
                readonly
                id="output"
                onfocus="this.select()"></textarea>

      <input type="text" 
             v-model="outputTitle" 
             readonly
             class="output-title"
             v-if="outputTitle !== ''"
             onfocus="this.select()" />
      <textarea v-model="outputContent"
                v-if="outputContent !== ''"
                readonly
                id="output"
                onfocus="this.select()"></textarea>
      
      
      <button type="button"
              v-if="outputContent !== '' && preview === ''"
              class="ui fluid button"
              v-on:click="preview = outputContent">
        PREVIEW
      </button>
      <div class="ui raised segment preview"
           v-if="preview !== ''">
        <h1>{{ outputTitle }}</h1>
        <div v-html="preview"></div>
      </div>
      
      <!-- ========================== -->
      
      <button type="button"
              v-if="output !== '' && preview === ''"
              class="ui fluid button"
              v-on:click="preview = output">
        PREVIEW
      </button>
      <div class="ui secondary segment" v-if='itemsPreview.length > 0'
           id="toc">
        <ul>
          <li v-for="{title, link} in itemsPreview">
            <a v-bind:href="'#anchor' + encodeURIComponent(link)">{{ title }}</a>
          </li>
        </ul>
      </div>
      <hr v-if='itemsPreview.length > 0' />
      <div class="ui raised segment" 
           v-for="{title, link, content} in itemsPreview"
           v-bind:id="'anchor' + encodeURIComponent(link)">
        <h1><a v-bind:href="link" target="_blank" v-html="title"></a></h1>
        <div v-html="content"></div>
        <a class="ui fluid button" href="#toc">[回到目錄]</a>
      </div>
      
    </template>
    <template v-if="mode === 'feed'">
      <textarea v-model="output"
                readonly
                id="output"
                onfocus="this.select()"></textarea>
      
      <button type="button"
              v-if="output !== '' && itemsPreview.length === 0"
              class="ui fluid button"
              v-on:click="parseItemsPreview">
        PREVIEW
      </button>
      <div class="ui secondary segment" v-if='itemsPreview.length > 0'
           id="toc">
        <ul>
          <li v-for="{title, link} in itemsPreview">
            <a v-bind:href="'#anchor' + encodeURIComponent(link)">{{ title }}</a>
          </li>
        </ul>
      </div>
      <hr v-if='itemsPreview.length > 0' />
      <div class="ui raised segment" 
           v-for="{title, link, content} in itemsPreview"
           v-bind:id="'anchor' + encodeURIComponent(link)">
        <h1><a v-bind:href="link" target="_blank" v-html="title"></a></h1>
        <div v-html="content"></div>
        <a class="ui fluid button" href="#toc">[回到目錄]</a>
      </div>
    </template>
  </div>
</form>