
<form class="ui form segment">
  
  <div class="fields">
    <div class="two wide field">
      <label>
        Subscription
      </label>
      <div class="ui fluid buttons">
        <a class="ui button"
           href="./sub.html">
          List
        </a>
      </div>
    </div>
    <div class="ten wide field">
      <label>
        Mode
      </label>
      <div class="ui fluid buttons">
        <button class="ui button"
                type="button"
                v-bind:class="{positive: (mode === 'feed')}"
                v-on:click="mode = 'feed'">
          Feed XML
        </button>
        <button class="ui button"
            type="button"
            v-bind:class="{positive: (mode === 'url')}"
            v-on:click="mode = 'url'">
          URL
        </button>
      </div>
    </div>
    
    <div class="two wide field">
      <label>
        Git
      </label>
      <a class="ui fluid button" href="./git-pull" target="_blank">
        pull
      </a>
    </div>
    <div class="two wide field">
      <label>
        Load
      </label>
      <a class="ui fluid button" href="./PWA-OPML-RSS-Formatter" target="_blank">
        OPEN
      </a>
    </div>
  </div>
    
 
  <!-- ================================== -->
  
  <demo-dropdown-feed
    ref="DemoDropdownFeed"
    v-show="mode === 'feed'"></demo-dropdown-feed>
  
  <demo-dropdown-url 
    ref="DemoDropdownURL"
    v-show="mode === 'url'"></demo-dropdown-url>
  
  <!-- ================================== -->
  
  <div class="field" 
       v-if="mode === 'feed'">
    <label for="feedXML">
      Feed XML
    </label>
    <textarea id="feedXML"
              v-model="feedXML"
              placeholder='<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"...'></textarea>
  </div>
  
  <div class="field" 
       v-if="mode === 'url'">
    <label for="query">
      URL
    </label>
    <div class="ui action input">
      <input type="url" 
             id="query"
             v-model="query"
             placeholder="https://..." />
      <button type="button" class="ui button"
              v-on:click="window.open(query, '_blank')">
        OPEN
      </button>
    </div>
  </div>
  
  <div class="field">
    <label for="modules">
      Modules
    </label>
    <div class="ui action input">
      <input type="text" v-model="modules" id="modules" />
      
      <button type="button" class="ui button"
              v-on:click="addRandomToken">
        Add Random Token
      </button>
    </div>
  </div>
  
  <div class="field">
    
    <div class="ui checkbox">
      <input type="checkbox" v-model="autoPreview" id="autoPreview" />
      <label for="autoPreview">Auto Preview</label>
    </div>
  </div>
  
  
  
  <hr />
  
  <div class="field">
    <label for="output">
      Output
    </label>
    
    <!-- =============================== -->
    
    <div class="ui action input"
           v-if="subURL && subURL !== ''">
      <input type="url" v-model="subURL" />
      <button type="button" class="ui positive button"
              v-on:click="copySubURL">
        COPY
      </button>
      <a class="ui button"
         v-bind:href="subURL"
         target="_blank">
        OPEN
      </a>
      <a class="ui button"
         v-bind:href="addFeedlyURL"
         target="_blank">
        FEEDLY+
      </a>
    </div>
    
    <template v-if='mode === "url"'>
      
      
      <!--
        <h2 v-if="subURL && subURL !== ''">
          <a v-bind:href="subURL" style="word-break: break-all;" target="_blank">{{ subURL }}</a>
        </h2>
      -->
      <div class="ui field">
        <button type="button"
                v-if="outputContent !== '' && preview === ''"
                class="ui fluid button"
                v-on:click="preview = outputContent">
          PREVIEW PAGE
        </button>

        <button type="button"
                v-if="output !== '' && itemsPreview.length === 0"
                class="ui fluid button"
                v-on:click="parseItemsPreview">
          PREVIEW FEED
        </button>
      </div>
      
      <!-- ============================ -->
      
      <div class="ui grid">
        <div class="eight wide column">
          
          <template v-if="originalRSS !== ''">
            <textarea v-model="originalRSS"
                readonly
                id="originalRSS"
                onfocus="this.select()"></textarea>
            
            <!-- ====================== -->
            
            <div class="ui secondary segment toc" v-if='originalItemsPreview.length > 0'
                 id="toc_ori">
              <strong>{{ OriginalChannelTitle }} ({{ originalItemsPreview.length }})</strong>
              <ol>
                <li v-for="{title, link} in originalItemsPreview">
                  <a v-on:click="scrollIntoView('anchor_ori_' + encodeURIComponent(link))" >{{ title }}</a>
                </li>
              </ol>
            </div>
            
            <div class="preview-list">
              <div class="ui raised segment" 
                   v-for="{title, link, content} in originalItemsPreview"
                   v-bind:id="'anchor_ori_' + encodeURIComponent(link)">
                <h1><a v-bind:href="link" target="_blank" v-html="title"></a></h1>
                <div v-html="content" class="content"></div>
                <a class="ui fluid button" href="#toc">[回到目錄]</a>
              </div>
            </div>
          </template> <!-- <template v-if="output !== ''"> -->
        </div> <!-- <div class="eight wide column"> -->
        
        <!-- ============================ -->
        
        <div class="eight wide column">
          <template v-if="outputContent !== ''">
            <input type="text" 
                   v-model="outputTitle" 
                   readonly
                   class="output-title"
                   v-if="outputTitle !== ''"
                   onfocus="this.select()" />
            <textarea v-model="outputContent"
                      v-if="outputContent !== ''"
                      readonly
                      id="output"
                      onfocus="this.select()"></textarea>

            <!-- ========================= -->

            <div class="ui raised segment preview"
                 v-if="preview !== ''">
              <h1>{{ outputTitle }}</h1>
              <div v-html="preview"></div>
            </div>
          </template>
          
          <!-- ========================== -->
          
          
          <template v-if="output !== ''">
            <textarea v-model="output"
                v-if="output !== ''"
                readonly
                id="output"
                onfocus="this.select()"></textarea>
            
            <!-- ====================== -->
            
            <div class="ui secondary segment toc" v-if='itemsPreview.length > 0'
                 id="toc">
              <strong>{{ ChannelTitle }} ({{ itemsPreview.length }})</strong>
              <ol>
                <li v-for="{title, link} in itemsPreview">
                  <!-- <a v-bind:href="'#anchor' + encodeURIComponent(link)">{{ title }}</a> -->
                  <a v-on:click="scrollIntoView('anchor' + encodeURIComponent(link))" >{{ title }}</a>
                </li>
              </ol>
            </div>
            
            <div class="preview-list">
              <div class="ui raised segment" 
                   v-for="{title, link, content} in itemsPreview"
                   v-bind:id="'anchor' + encodeURIComponent(link)">
                <h1><a v-bind:href="link" target="_blank" v-html="title"></a></h1>
                <div v-html="content" class="content"></div>
                <a class="ui fluid button" href="#toc">[回到目錄]</a>
              </div>
            </div>
          </template> <!-- <template v-if="output !== ''"> -->
        </div>
      </div>
        
      <!-- ========================== -->
    </template> <!-- <template v-if='mode === "url"'> -->
    
    <!-- =============================== -->
    
    <template v-if="mode === 'feed'">
      <textarea v-model="output"
                readonly
                id="output"
                onfocus="this.select()"></textarea>
      
      <button type="button"
              v-if="output !== '' && itemsPreview.length === 0"
              class="ui fluid button"
              v-on:click="parseItemsPreview">
        PREVIEW ITEMS
      </button>
      <div class="ui secondary segment" v-if='itemsPreview.length > 0'
           id="toc">
        <ul>
          <li v-for="{title, link} in itemsPreview">
            <a v-bind:href="'#anchor' + encodeURIComponent(link)">{{ title }}</a>
          </li>
        </ul>
      </div>
      <hr v-if='itemsPreview.length > 0' />
      <div class="ui raised segment" 
           v-for="{title, link, content} in itemsPreview"
           v-bind:id="'anchor' + encodeURIComponent(link)">
        <h1><a v-bind:href="link" target="_blank" v-html="title"></a></h1>
        <div v-html="content"></div>
        <a class="ui fluid button" href="#toc">[回到目錄]</a>
      </div>
    </template>
  </div>
</form>