<div>
  <h1 class="ui horizontal divider header">
    Subscribe List
  </h1>
  <div class="ui form segment">
    
    <div class="fields">
      <div class="eight wide field">
        <label>
          Preview
        </label>
        <a href="./test.html"
           class="ui fluid button">
          TEST
        </a>
      </div>
      <div class="four wide field">
        <label>
          Git
        </label>
        <a class="ui fluid button" href="./git-pull" target="_blank">
          PULL
        </a>
      </div>
      <div class="four wide field">
        <label>
          Load
        </label>
        <a class="ui fluid button" href="./PWA-OPML-RSS-Formatter/index.html" target="_blank">
          OPEN
        </a>
      </div>
    </div>
    
    
    <div class="field">
      <label>
        Filter
      </label>
      <div class="ui input">
        <input type="text" placeholder="Search..."
               v-model="filter">
      </div>
    </div>
    
    <table class="ui unstackable celled table">
      <thead>
        <tr>
          <th>Title</th>
          <th class="center aligned">Original</th>
          <th class="center aligned">Full Text</th>
          <th class="center aligned">Test</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="feed in feeds"
            v-bind:class="buildRowClassName(feed)">
        <tr v-for="feed in filteredFeeds">
          <td data-label="Title">
            <a v-bind:href="feed.feedURL" target="_blank">
              <strong class="feed-title">{{ feed.title }}</strong>
              <span v-if="feed.modules && feed.modules !== ''">({{ feed.modules }})</span>
              <span v-if="feed.status">
                [{{ feed.status }}]
              </span>
              <div class="feed-url">{{ feed.feedURL }}</div>
            </a>
          </td>
          <td data-label="Original RSS Feed"
              class="center aligned">
            <a v-bind:href="feed.feedURL"
               class="ui icon button"
               target="_blank">
              <i class="rss icon"></i>
            </a>
          </td>
          <td data-label="Full Text RSS Feed"
              class="center aligned">
            <a v-bind:href="buildFullTextURL(feed)"
               class="ui positive icon button"
               target="_blank">
              <i class="rss icon"></i>
              </a>
          </td>
          <td data-label="Test"
              class="center aligned">
            <a v-bind:href="buildTestURL(feed)"
               class="ui warning icon button"
               target="_blank">
              <i class="question circle outline icon"></i>
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
