<div class="ui fluid search selection dropdown">
    <input type="hidden" name="query" onchange='app.$refs.FullTextRSSTester.$refs.DemoDropdownURL.loadFeed(this.value)'>
    <i class="dropdown icon"></i>
    <div class="default text">Example</div>
    <div class="menu">
      <div class="item" data-value="http://www.phonedaily.com/news/rss/news.xml">
        feed dedup ePrice 比價王 綜合新聞
      </div>
      <div class="item" data-value="http://www.eprice.com.tw/mobile/news/rss.xml">
        feed dedup ePrice 比價王 手機品牌新聞
      </div>
      <div class="item" data-value="https://udn.com/rssfeed/news/2/7226?ch=news">
        feed udn
      </div>
      <div class="item" data-value="http://feeds.feedburner.com/pcadv">
        feed feedburner
      </div>
      <div class="item" data-value="https://www.facebook.com/238609549500054/posts/5104499282911032/">
        fb is gd
      </div>
      <div class="item" data-value="https://www.solidot.org/story?sid=69273">
        solidot
      </div>
      <div class="item" data-value="https://feeds.soundon.fm/podcasts/ecd31076-d12d-46dc-ba11-32d24b41cca5.xml|fNorge">
        FEED Norge
      </div>
      <div class="item" data-value="http://fetchrss.com/rss/5ff67856db94f676db0c0fc25ff67883948c93537a0cb7c2.xml">
        FEED Twitter English
      </div>
      <div class="item" data-value="http://fetchrss.com/rss/5fafca78683abc7d28168d625fd5eb2d3a4ce926972cb8e2.xml">
        FEED Twitter
      </div>
      <div class="item" data-value="http://fetchrss.com/rss/5f99871cb109d4184d3a5ef25f9987c37ff6b50fd85867d2.xml">
        FEED FB
      </div>
      <div class="item" data-value="https://www.youtube.com/feeds/videos.xml?channel_id=UCiWXd0nmBjlKROwzMyPV-Nw|tSH">
        FEED UB
      </div>
      <div class="item" data-value="https://github.com/pvpoke/pvpoke/commits/master.atom">
        FEED GitHub Commit
      </div>
      <div class="item" data-value="https://github.com/pvpoke/pvpoke/commit/d3b931557149fc3afa95054ab5fd2d9e9f180012">
        GitHub Commit
      </div>
      <div class="item" data-value="https://www.youtube.com/watch?v=PJEzpCgsMfo">
        略過 UT
      </div>
      <div class="item" data-value="https://ani.gamer.com.tw/animeVideo.php?sn=25568&fbclid=IwAR0p6gwPv6juKDtwkKCOtpf6FO3YJeXeURBfjMbBF_Dhc64IqTP2_ZWhmac">
        略過 巴哈
      </div>
      <div class="item" data-value="https://www.facebook.com/238609549500054/posts/5103543183006642/">
        FB 圖片 內文連結 非主要連結
      </div>
      <div class="item" data-value="https://www.facebook.com/320043852819136/posts/463110001845853">
        FB連結
      </div>
      <div class="item" data-value="https://www.facebook.com/376705336053230/posts/1720479431675807/">
        FB連結 Blog
      </div>
      <div class="item" data-value="https://www.facebook.com/166443580089418/posts/4415002795233454/">
        FB圖片
      </div>
      <div class="item" data-value="https://www.facebook.com/376705336053230/posts/1721861934870890/">
        FB影片
      </div>
      <div class="item" data-value="https://www.facebook.com/Lice0424/posts/459817095508477?__cft__[0]=AZUPY5kxDjBA5wvqd_Wred4Rtmi5VQjnQijswIPUbNqre6NQB2JlOr9YDy-MBKRNqxD0TeVbxIuHJ_lxG3clHKJ_MgOh8aUncLR0gF4YPEUb00ZeNAfmgemU-goLaGvCHaZJgqD7XRKHc4Dnx55FiXml&__tn__=%2CO%2CP-R">
        FB強調
      </div>
      <div class="item" data-value="https://sub-nccu-rd-2016.blogspot.com/2017/01/big-5qb2c4a4qa4adb4c1ace3b5ob9qa4lb3f8.html?zx=9d8106bf9c27fd1b">
        標題email亂碼 NCCU
      </div>
      <div class="item" data-value="https://sub-tongli-2020.blogspot.com/2021/10/big5q2021aafa5dfb9qa4lb3f8-no39-a1mone.html">
        標題email亂碼 tongli
      </div>
      
      <!--
      <div class="item" data-value="https://blog.pulipuli.info/feeds/posts/default">
        布丁RSS
      </div>
      -->
      <div class="item" data-value="https://blog.pulipuli.info/2021/09/the-best-learning-partner-asus-chromebook-detachable-cz1.html">
        布丁文章
      </div>
      <div class="item" data-value="https://andy6804tw.github.io/2018/02/11/nodejs-crawler/">
        Title模組 1010Code
      </div>
      <div class="item" data-value="https://game.udn.com/game/story/122089/5803365?utm_source=Facebook&utm_medium=game&fbclid=IwAR0tJhi_yXlRmXHxCqD_CCeiSUwj1_iQSWNbafZBV4eMB5YiQB4-kYWdEH4">
        來自FB 遊戲角落
      </div>
      <div class="item" data-value="https://www.ptt.cc/bbs/PokemonGO/M.1633407613.A.17E.html">
        PTT
      </div>
    </div>
  </div>