<div class="ui fluid search selection dropdown">
    <input type="hidden" name="query" onchange='app.$refs.FullTextRSSTester.query = this.value'>
    <i class="dropdown icon"></i>
    <div class="default text">Example</div>
    <div class="menu">
      <div class="item" data-value="https://www.facebook.com/320043852819136/posts/463110001845853">
        FB連結
      </div>
      <!--
      <div class="item" data-value="https://blog.pulipuli.info/feeds/posts/default">
        布丁RSS
      </div>
      -->
      <div class="item" data-value="https://blog.pulipuli.info/2021/09/the-best-learning-partner-asus-chromebook-detachable-cz1.html">
        布丁文章
      </div>
      <div class="item" data-value="https://andy6804tw.github.io/2018/02/11/nodejs-crawler/">
        Title模組 1010Code
      </div>
      <div class="item" data-value="https://game.udn.com/game/story/122089/5803365?utm_source=Facebook&utm_medium=game&fbclid=IwAR0tJhi_yXlRmXHxCqD_CCeiSUwj1_iQSWNbafZBV4eMB5YiQB4-kYWdEH4">
        來自FB 遊戲角落
      </div>
      <div class="item" data-value="https://www.ptt.cc/bbs/PokemonGO/M.1633407613.A.17E.html">
        PTT
      </div>
    </div>
  </div>